<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333333;
        line-height: 1.5;
      }
      h1 {
        font-size: 24px;
        color: #333333;
      }
      p {
        font-size: 16px;
        color: #333333;
      }
      .highlight {
        color: #d9534f;
      }
    </style>
  </head>
  <body>
    <h1>Welcome back {{ firstName }}!</h1>
    <p>Assalam o Alaikum!</p>
    <p>
      You have successfully logged in to Islamic Savings Center - Wakalat Al
      Istithmar at {{ loginTime }} on {{ loginDate }}.
    </p>
    <p class="highlight">
      If you do not recognise this login attempt, please immediately call us at
      +123-456-7890 to block your account.
    </p>
    <p>
      Please note that Islamic Savings Center will never ask for any
      confidential information through calls, emails, or websites! Please do not
      share your confidential details such as Username, Password, OTP, etc.
    </p>
    <p>In case of any issues or complaints, you may contact us through:</p>
    <ul>
      <li>Email: contact@wakalatalistithmar.com</li>
      <li>Call Support: +123-456-7890</li>
    </ul>
  </body>
</html>
